.wrapper {
  display: block;
  position: relative;
}

.container {
  display: block;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  padding: 80px 30px 25px;
  border-radius: 2px;
}

.close-button {
  display: block;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  z-index: 1;
  background-image: url('./images/close-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.title {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 5px 10px;
  font-family: 'HelveticaNue', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  color: #000;
  text-align: center;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.input-block {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.submit {
  &-wrapper {
    display: block;
    position: relative;
    padding: 20px 0 10px;
    text-align: center;
  }
  &-button {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    background: none;
    border: none;
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #d8d8d8;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }
}